<div class="header">
    <div class="row">
        <div class="pull-left">
            <img class="pull-left" src="../img/janus.gif" alt="Janus" height="90" width="70">
            <h2>Janus
                <small>Change history</small>
            </h2>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" data-ui-sref="janus">Maintenance Requests History »</a>
        </div>
    </div>
    <div class="row">
        <h4>Builds History</h4>
    </div>
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="env-name">Time period: </label>
        <select class="form-control" data-ng-options="o.id as o.name for o in environments" data-ng-model="selectedEnvironment">
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="sys-name-pattern">System name pattern</label>
        <input class="form-control" placeholder="System name pattern" data-ng-model="system_name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="time-period">Time period: </label>
        <select id="time-period" class="form-control" data-ng-options="o.id as o.name for o in time_frames" data-ng-model="selectedTimeFrame">
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="time-period">Items on page: </label>
        <select id="time-period" class="form-control" data-ng-options="o.id as o.name for o in items_on_page" data-ng-model="selectedItemsOnPage">
        </select>
      </div>
      <button type="submit" class="btn btn-primary" data-ng-click="filterEvents()">Filter</button>
    </form>
</div>
<hr/>
<div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th width="200px">Time</th>
        <th>Env</th>
        <th>System(s)</th>
        <th>Version</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="event in changeEvents">
        <td><a href="/janus/{{event._id}}">{{event.time | date:'MM/dd/yy @ h:mma'}}</a></td>
        <td>{{event.env}}</td>
        <td><ul><li data-ng-repeat="app in event.systems">{{app}}</li></ul></td>
        <td>{{event.metadata.artifact_version}}</td>
        <td><a ng-href="{{event.reference_url}}">{{event.type}} ({{event.event_status}})</a></td>
        <td>{{event.job_status}}</td>
      </tr>
    </tbody>
  </table>
</div>