// Home page thumbnail stylings:

.Home-Thumbnail {
	display: inline-block;
	text-align: center;

	.Home-Thumbnail-Anchor {
		display: block;
		margin-left: 50px;

		.Home-Thumbnail-Image {
			display: block;
			margin: 0 auto;
			// width: 75%;
			width: 200px;
			max-width: 20rem;
			opacity: .7;

				&:hover {
				opacity: 1;
			}
		}

		.Home-Thumbnail-Name {
			text-align: center;
			//font-size: 18px;
		}
	}
}
